<main class="lg:hidden font-poppinsMedium relative transition-all duration-300 ease bg-myWhite dark:bg-myBlack">
  <!-- Landing -->
  <section class="w-full h-screen fixed z-40 transition-all duration-700 ease {{landingPage ? 'inset-0':'-top-[100vh]'}}">
    <!-- <img src="../../../assets/images/backgrounds/landing.jpg" alt="" class="w-full h-full object-cover"> -->
    <video src="../../../assets/videos/landing2.mp4" [autoplay]="true" [loop]="true" [muted]="true" class="w-full h-full object-cover"></video>
    <div class="w-full h-full absolute inset-0 flex flex-col justify-center items-center">
      <h2 class="font-poppinsBold  w-[90%] text-center text-myWhite text-3xl">Explore the artistry and expertise that define my skills</h2>
      <div>
        <!-- <button class="bg-primary/50 text-myWhite font-poppinsBold px-3 py-1 rounded-full text-center" (click)="landingPage=false">Explore</button> -->
        <div class="mt-10 w-8 mx-auto animate-bounce text-myWhite" (click)="landingPage=false">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z" fill="currentColor"/></svg>
        </div>
      </div>
    </div>
  </section>
  <!-- Landing End -->
  <!-- Inner Header -->
  <section
    class="w-full h-[90vh] bg-myWhite dark:bg-myBlack fixed top-[10vh] transition-all duration-500 ease {{headerToggle ? 'left-0 z-50' : '-left-[100vw]'}}">
    <label class="ui-switch">
      <input type="checkbox" (change)="checkboxValue($event)" [checked]="darkModeValue == 'true' ? true : false">
      <div class="slider">
        <div class="circle bg-myGrayDark"></div>
      </div>
    </label>
  </section>
  <!-- Inner Header End -->
  <header
    class="w-full h-[10vh] sticky top-0 left-0 z-50 py-3 px-6 flex flex-row-reverse items-center justify-between transition-all duration-300 ease {{landingPage && !headerToggle?'bg-transparent':'bg-primary shadow-md'}}">
    <!-- // Menu -->
    <label class="hamburger relative">
      <input type="checkbox" class="cursor-pointer absolute z-10 inset-0 w-full h-[50px] opacity-0" (click)="toggle()">
      <svg viewBox="0 0 32 32">
        <path class="line line-top-bottom"
          d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
        </path>
        <path class="line" d="M7 16 27 16"></path>
      </svg>
    </label>

    <div class="relative font-poppinsMedium text-2xl whitespace-nowrap text-myWhite">
      <div
        class="absolute left-0 transition-all duration-500 ease {{pageChange === 'hero' && !headerToggle && !landingPage ?'top-0 ':'-top-96'}}">
        <h2>M Hamza Siddiqui</h2>
      </div>
      <div
        class="absolute left-0 transition-all duration-500 ease {{pageChange === 'about' && !headerToggle ?'top-0':'-top-96'}}">
        <h2>About Me</h2>
      </div>
      <div
        class="absolute left-0 transition-all duration-500 ease {{pageChange === 'projects' && !headerToggle ?'top-0':'-top-96'}}">
        <h2>My Projects</h2>
      </div>
      <div
        class="absolute left-0 transition-all duration-500 ease {{pageChange === 'contact' && !headerToggle ?'top-0':'-top-96'}}">
        <h2>Contact Me</h2>
      </div>
      <div class="absolute left-0 transition-all duration-500 ease {{headerToggle ?'top-0':'-top-96'}}">
        <h2>Menu</h2>
      </div>
    </div>
  </header>
  <section class="w-full h-[90vh]">
    <div class="w-[90%] h-full mx-auto flex flex-col justify-center items-center pr-2">
      <div class="mask w-full transition-all duration-300 ease">
        <img src="../../../assets/images/dp.webp" alt="" class="bg-primary w-full object-cover">
      </div>

      <div class="text-myBlack dark:text-myWhite text-center">
        <h2 class="font-poppinsBold text-3xl text-primary">Frontend Angular Developer</h2>
        <p class="mx-auto mt-2">Expert in front-end development, having proven track record in building scalable
          Single Page Applications (SPAs).</p>
      </div>
    </div>
  </section>

  <section class="w-full h-screen bg-red-300">
  </section>

  <section class="w-full">

    <div class="relative w-[90%] mx-auto h-[500px] rounded-md">
      <video src="../../../assets/videos/about.mp4" [autoplay]="true" [loop]="true" [muted]="true" class="w-full h-full object-cover rounded-md"></video>
       <div class="absolute inset-0 w-full h-full bg-myWhite/50 dark:bg-myBlack/50 text-myBlack dark:text-myWhite">
        <p>Welcome to my Project Showcase, a curated collection of endeavors that reflect my passion for [your field/industry]. Each project is a testament to my skills, creativity, and commitment to delivering impactful solutions. Explore the following highlights:</p>
        <button class="">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
        </button>
       </div>
    </div>
  </section>

  <section class="w-full min-h-screen">contact</section>

  <footer class="w-full"></footer>
</main>