@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppinsBold;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: poppinsMedium;
    src: url('./assets/fonts/Poppins-Medium.ttf');
}
html::selection {
    background-color: #34495e;
    color: #e17055;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #EEEADE;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e17055;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}