@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppinsBold;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: poppinsBlack;
    src: url('./assets/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: poppinsMedium;
    src: url('./assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: poppinsReg;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}